# Node.js dependencies

node_modules/

npm-debug.log*

yarn-debug.log*

yarn-error.log*

pnpm-debug.log*

package-lock.json

yarn.lock

pnpm-lock.yaml

  

# Logs

logs/

*.log

npm-debug.log*

yarn-debug.log*

pnpm-debug.log*

lerna-debug.log*

.log/

  

# Runtime data

pids/

*.pid

*.seed

*.pid.lock

*.gz

  

# Build artifacts

dist/

build/

.out/

.next/

.vercel/

.netlify/

coverage/

  

# Environment variables

.env

.env.local

.env.development.local

.env.test.local

.env.production.local

  

# Editor and OS-specific files

.vscode/

.idea/

.DS_Store

Thumbs.db

  

# Debugging

*.swp

*.swo

*.bak

  

# TypeScript

*.tsbuildinfo

  

# Docker

docker-compose.override.yml

  

# Miscellaneous

.nyc_output/

.eslintcache

.cache/